<h3>Dear Mr/Miss/Mrs {{name}},</h3>
<br />
<h3>Kindly click on the link below to see your invoice and process process
  payment for your goods with Klusterthon.
</h3>
<h3>link: {{url}}</h3>

<h3>Payment is due on or before: {{due}}</h3>
<br />
<h3>You are expected to process or make payment for the totoal sum of
  {{price}}
</h3>

<h4>link to make payment => => {{url}} </h4>

{{!-- <h5>{{emailOtp}}</h5> --}}
{{!-- <img src="{{imageUrl}}" alt="Signup Image" /> --}}
{{! <p>Do not share this OTP with anyone. }}
{{! </p> }}
<p>Thank you!"
</p>